.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
code_notes/**
.env
s4_*
.Rprofile
.Renviron
inst/doc
docs
TODO.Rmd
PUTrequest.txt
curl.sh
gistats.txt
upload
vignettes/section_cache/
vignettes/images/xml/*.xml
engine.bin
vignettes/*.zip
vignettes/*.xml
